#footinfo {
	position: relative;
    display: inline-block;
    width: 100%;
    height: 130px;
    top:75px;
    text-align: center;
    left:-50px;
}
#footinfo ul {
	display: inline-block;
	list-style-type: none;
}
#footinfo li {
	width: 156px;
	float: left;
	padding: 5px 0 0 45px;
	display: inline-block;
	list-style-type: none;
}
#footinfo a{
	position: relative;
	top: -15px;
}
#footer{
	position: relative;
	width: 100%;
	height: 120px;
	text-align: center;
	background:#f9f9f9;
	line-height: 30px;
}
#footer ul{
	display: inline-block;
	list-style-type: none;
}
#footer li{
	float: left;
	padding: 5px 0 0 45px;
	display: inline-block;
	list-style-type: none;}
#footer p{
	text-align: center;
}
#footer a {
	color:#1c040e
}
#footer a:hover {
	color:#d91966
}
a{
    text-decoration:none;   
}
    a:link {color: #333}/* 未访问的链接 */
    a:visited{color:#333}/* 已访问的链接 */
    a:hover {color:#F24B3B}/* 鼠标移动到链接上 */
    a:active {color: #0000FF}/* 选定的链接 */