body {    
        color: #393939;
        font-family: "Myriad Pro",Arial,FZLanTingHei-R-GBK,"方正兰亭黑","Microsoft YaHei","微软雅黑",STHeiti,"华文黑体",SimSun,"宋体",sans-serif;
    }
    a{
        text-decoration: none;
    }
    a:link {color: #333}/* 未访问的链接 */
    a:visited{color:#333}/* 已访问的链接 */
    a:hover {color:#F24B3B}/* 鼠标移动到链接上 */
    a:active {color: #0000FF}/* 选定的链接 */
    ul{
        display: block;
    }
    ul li{
        float:left;
    }
    .main{
        background-color:white;
        margin-bottom: 30px;
    }
    div{
        display:block;
    }
    .head{
        height: 250px;
    }
    .wrapper {
        padding: 0 .75rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    .herder-1{
        display: block;
        padding: 19px 0 14px;
        border:1px solid none;
    }
    .step {
        margin-bottom: 20px;
        display: block;
        height:80px;
        width: 3000px;
    }  
    .step li{
        display: inline-block;
        width: 400px;
        text-align: center;
        padding: 26px 0 30px;   
        color: #ccc; 
        font-size:1.25rem;
    }
    .header{
        border:1px solid none;
        background-color: none;
    }   
    .footer{
        background:none;
        background-color: none;
    }
    .menu1{
        margin-top:30px;
    }
    body, figure, h1, h2, h3, h4, h5, h6, p {
        margin: 0px;
    }
    h5{
        font-weight:bold;
    }   
    .one{
        background-color:#f7f7f7;;
        border-right:inset;
        border-bottom:4px solid orange ;
    }
    .two{
        background-color:none;
        border-right:inset;
        border-bottom:4px solid white ;
        background: #f7f7f7;
    }
    .three{
        background-color: none;
        background: #f7f7f7;
        border-bottom:4px solid white ;
    }
    ul{
        list-style:none;
        padding:0px;
    }
    .check-box-label {
        margin: 0 20px 0 0;
        display: inline-block;
    }
    .box{
        width:20px;
        height:20px;   
    }
    .main-table{
        background-color:#F9F9F9 ;
        margin-top:20px;
        border:1px solid none;
    } 
    .table{
            
    }
    .amount{
        border:2px solid lightgrey;
        border-radius:10px;
        width:60px;
        height:30px;
        text-align: center;
    }
    td{
        text-align:center;
        font-size: large;
        vertical-align: top;    
    }
    #row1 td{
        border-bottom:10px solid whitesmoke;
    }
    .c1{
        width:50px;
        text-align:right;
    }
    .c2{
        width:50px;
        text-align: left;
    }
    .c3{
        width:250px;
        text-align:center ;
    }
    .c4{
        width:160px;
    }

    .c5{
        width:220px;
    }
    .c6{
        width:220px;
    }
    #row1{
        height:50px;
        vertical-align: middle;
        background-color:#EEEEEE;    
    }
    #row2{
        background-color:whitesmoke;
    }

    .the2,.the3{   
        float:left;
        line-height:4;
    }
    .the2{
        margin-left:200px;
        font-size: larger;
    }
    .the3{   
        margin-left:20px;
        font-size: larger;
    }
    .the1{     
        font-size:15px ;
        float:right;
        position: relative;
        top: 10px;
        
    }
    .the1-1{
        width:1200px;
        height:30px;
    }
    .the4-1{
        width:1200px;
        height:50px;
    }
    .the4{        
        font-size: larger;
        position: relative;
        top: 10px;
        float:right;
    }
    .button{
        background-color:#E73674;
        color:black;
        width:120px;
        height:50px;
        border:1px solid none;
        font-size: 20px;
        font-weight: bold;
    }
    .jiesuan{   
        border:1px solid lightgrey;
        height:75px;
        background-color:#EEEEEE;
        width: 1200px;
    }